<div class="contenedor">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title color="primary">Login</mat-card-title>
        </mat-card-header>
        <div layout="column">
            <img flex mat-card-image class="img"
                src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector.jpg">
        </div>
        <mat-card-content>
            <form class="full-form">
                <mat-form-field class="full-width">
                    <mat-label color="white">
                        Usuario
                    </mat-label>
                    <input matInput placeholder="Juanito">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>
                        Contraseña
                    </mat-label>
                    <input matInput placeholder="Secret password" type="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="login()">Aceptar</button>
            <button mat-raised-button color="warn">Cancelar</button>
        </mat-card-actions>

    </mat-card>


</div>