<div class="contanier">

    <div class="row justify-content-center p-5">
        <div class="col-md-6">
            <mat-card>
                <div *ngIf="alert"> 
                    <h3 class="text-center bg-danger fw-bold">
                        Por favor ingrese sus credenciales!
                    </h3>
                </div>
                <div class="row justify-content-center m-2">
                    <div class="col-auto">
                        <img flex mat-card-image class="img"
                            src="">
                    </div>
                </div>
                <mat-card-content>
                    <form class="full-form" [formGroup]="usuario">
                        <mat-form-field class="full-width">
                            <mat-label color="white">
                                Usuario
                            </mat-label>
                            <input matInput placeholder="Juanito" formControlName="user">
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>
                                Contraseña
                            </mat-label>
                            <input matInput placeholder="Secret password" type="password" formControlName="password">
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-success w-100" (click)="login()">Iniciar Sesion</button>
                    </div>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>

</div>