<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>
        Angular Material
    </span>
    <span class="example-spacer"></span>
    <button *ngIf="!logeado" class="" mat-raised-button>
        Acerca de
    </button>
    
    <div *ngIf="logeado">
        <div class="row">
            <div class="col-auto">
                <label>
                    {{usuario}}
                </label>

            </div>

            <div class="col-auto">
                <button class="" color="warn" mat-raised-button (click)="logOut()">
                    Cerrar Sesion
                </button>
                
            </div>
        </div>
    </div>
</mat-toolbar>